  URxvt*background:                     [95]#FFFFFF
  URxvt*boldFont:                       xft:Monaco:size=10:style=bold,xft:Microsoft Yahei:pixelsize=16:antialias=true:style=bold
  URxvt*depth:                          32 
  URxvt*font:                           xft:Monaco:size=10,xft:Microsoft Yahei:pixelsize=16:antialias=true
  URxvt*iconFile:                       /usr/share/icons/gnome/16x16/apps/utilities-terminal.png
  URxvt*inputMethod:                    fcitx
  URxvt*loginShell:                     true
  URxvt*saveLines:                      999999
  URxvt*scrollBar:                      true
  URxvt*scrollBar_right:                true
  URxvt*scrollTtyKeypress:              true
  URxvt*scrollTtyOutput:                false
  URxvt*scrollWithBuffer:               true
  URxvt*scrollstyle:                    plain 
  URxvt*urgentOnBell:                   false
  URxvt*url-launcher:                   firefox
  URxvt*visualBell:                     true
! URxvt*answerbackString:               string
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*backspacekey:                   string
! URxvt*bell-command:                   string
! URxvt*blurRadius:                     HxV
! URxvt*boldItalicFont:                 fontname
! URxvt*borderColor:                    color
! URxvt*borderLess:                     boolean
! URxvt*buffered:                       boolean
! URxvt*chdir:                          string
! URxvt*color0:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorRV:                        color
! URxvt*colorUL:                        color
! URxvt*cursorBlink:                    boolean
! URxvt*cursorColor2:                   color
! URxvt*cursorColor:                    color
! URxvt*cursorUnderline:                boolean
! URxvt*cutchars:                       string
! URxvt*deletekey:                      string
! URxvt*externalBorder:                 number
! URxvt*fadeColor:                      color
! URxvt*fading:                         number
! URxvt*foreground:                     color
! URxvt*geometry:                       geometry
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*hold:                           boolean
! URxvt*iconName:                       string
! URxvt*imFont:                         fontname
! URxvt*imLocale:                       string
! URxvt*inheritPixmap:                  boolean
! URxvt*insecure:                       boolean
! URxvt*intensityStyles:                boolean
! URxvt*internalBorder:                 number
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*italicFont:                     fontname
! URxvt*jumpScroll:                     boolean
! URxvt*keysym.sym:                     keysym
! URxvt*letterSpace:                    number
! URxvt*lineSpace:                      number
! URxvt*mapAlert:                       boolean
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.launcher:               string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*meta8:                          boolean
! URxvt*modifier:                       modifier
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*override-redirect:              boolean
! URxvt*pastableTabs:                   boolean
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*perl-lib:                       string
! URxvt*pointerBlank:                   boolean
! URxvt*pointerBlankDelay:              number
! URxvt*pointerColor2:                  color
! URxvt*pointerColor:                   color
! URxvt*preeditType:                    style
! URxvt*print-pipe:                     string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*reverseVideo:                   boolean
! URxvt*scrollBar_align:                mode
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollColor:                    color
! URxvt*searchable-scrollback:          string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*shading:                        number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*skipScroll:                     boolean
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*termName:                       string
! URxvt*thickness:                      number
! URxvt*tintColor:                      color
! URxvt*title:                          string
! URxvt*transient-for:                  windowid
! URxvt*transparent:                    boolean
! URxvt*tripleclickwords:               boolean
! URxvt*troughColor:                    color
! URxvt*underlineColor:                 color
! URxvt*utmpInhibit:                    boolean
! URxvt*visual:                         number
! URxvt*xrm:                            string
